## CLIENT ENVs
NEXT_PUBLIC_BASE_URL=
NEXT_PUBLIC_IS_USED_ASPECT_RATIO_VIDEO=

NEXT_PUBLIC_SANITY_DATASET=
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_CF_SITE_KEY=

# SERVER ENVs
RESEND_API_KEY=
CF_SECRET_KEY=